/Doc Mat
/Portugês 19-09-23.gdoc
/artigo.pdf
/OS EFEITOS DA INTELIGÊNCIA ARTIFICIAL NA ÁREA DA PROGRAMAÇÃO - Luiz Bicalho.docx
/Ofício.gdoc
/TSI-Fashion.docx
/luiz 23-02-24.py
/IHC tema 9.gdoc
/RESUMO EXPANDIDO - PROJETO DE PESQUISA Luiz Bicalho.docx
/Cópia de MODELO - RESUMO EXPANDIDO P- PROJETO DE PESQUISA.docx
/meubanco.db
/Cópia de MODELOS SLIDES - APRESENTAÇÃO DE PROJETO DE PESQUISA.pptx
/Cópia de MODELO - RESUMO EXPANDIDO P  PROJETO DE PESQUISA.docx
/Comprovante de inscrição   II Mostra de Projetos de Inovação e Soluções Tecnológicas.pdf