# requirements.txt
streamlit>=1.33.0
pymongo[srv]>=4.6.0
streamlit-authenticator>=0.3.2
passlib>=1.7.4
bcrypt>=3.2.0
pandas
numpy
plotly
requests
streamlit_option_menu
streamlit_extras
Pillow
docxtpl # Substitui python-docx para preenchimento de templates
XlsxWriter
openpyxl
